<div class="card">
  <div class="image">
    <% if local_assigns[:avatar].attached? %>
      <%= image_tag local_assigns[:avatar].variant(resize: "100x100!"), class: "ui image", style: "margin: 0" %>
    <% else %>
      <%= image_tag gravatar_image_url(local_assigns[:email], filetype: :png, rating: 'pg', size: 100, secure: false), class: "ui image", style: "margin: 0" %>
    <% end %>
  </div>
  <div class="content">
    <div class="header">
      <% link_to "#{local_assigns[:first_name]} #{local_assigns[:last_name]}", user_path(local_assigns[:id]) %></div>
    <div class="meta">
    </div>
    <div class="description">
      <%= local_assigns[:books].length == 1 ? "Book" : "Book".pluralize %>:
      <div class="ui bulleted list">
        <% local_assigns[:books].each_with_index do |book, index| %>
          <%= link_to "#{book.title}", book_path(book.id), class: "item" %>
        <% end %>
      </div>
    </div>
  </div>
</div>