<div class="card">
  <div class="image">
    <%= image_tag "author.png" %>
  </div>
  <div class="content">
    <div class="header">
      <% link_to "#{local_assigns[:first_name]} #{local_assigns[:last_name]}", user_path(local_assigns[:id]) %></div>
    <div class="meta">
    </div>
    <div class="description">
      <%= local_assigns[:books].length == 1 ? "Book" : "Book".pluralize %>:
      <% local_assigns[:books].each_with_index do |book, index| %>
        <%= link_to "#{book.title}#{"," unless index == book.authors.length - 1}", book_path(book.id) %>
      <% end %>
    </div>
  </div>
</div>