<div class="card">
  <div class="image">
    <%= image_tag avatar_url(user.id), class: "ui image", style: "margin: 0" %>
  </div>
  <div class="content">
    <div class="header">
      <%= link_to "#{user.first_name} #{user.last_name}", user_path(user.id) %></div>
    <div class="meta">
    </div>
    <div class="description">
      <%= user.books.length == 1 ? "Book" : "Book".pluralize %>:
      <div class="ui bulleted list">
        <% user.books.each do |book| %>
          <%= link_to "#{book.title}", book_path(book.id), class: "item" %>
        <% end %>
      </div>
    </div>
  </div>
</div>