<div class="ui fluid card">
  <div class="image">
    <%= image_tag "front-cover-placeholder.jpg" %>
  </div>
  <div class="content">
    <%= link_to "#{local_assigns[:title]}", book_path(local_assigns[:id]), class: "header" %>
    <div class="meta">
      <%= local_assigns[:authors].length == 1 ? "Author" : "Author".pluralize %>:
      <% local_assigns[:authors].each_with_index do |author, index| %>
        <%= link_to "#{author.first_name} #{author.last_name}#{"," unless index == local_assigns[:authors].length - 1}", user_path(author.id) %>
      <% end %>
    </div>
    <!--          <div class="description">-->
    <!--            Matthew is an interior designer living in New York.-->
    <!--          </div>-->
  </div>
</div>